<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>
        <div>
            <a href="/pokemon/new">Create a New Pokemon</a>
        </div>
        <div>
            <% allPokemon.forEach(function (element,index) { %>
                <a href="/pokemon/<%=index%>">
                    <img src="<%= element.img %>" alt="<%= element.name %>"><br />
                </a>
                <% }) %>
        </div>

    </body>

</html>