<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>
        <% allPokemon.forEach(function (element,index) { %>
            <a href="/pokemon/<%=index%>">
                <img src="<%= element.img %>" alt="<%= element.name %>"><br />
            </a>
            <% }) %>
    </body>

</html>