<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body class="body-new-page">


        <div class="container new-edit-container">
            <h2 class="new-page-title">Create Your Pokemon</h2>
            <div class="form-new">
                <form action="/pokemon" method="post">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="image">ImageURL:</label>
                        <input type="text" name="image" placeholder="Enter Image URL">
                    </div>
                    <div class="form-group">
                        <label for="type">Type:</label>
                        <input type="text" name="type" placeholder="Enter Type">
                        <i>Enter multiple types separated by ","</i>
                    </div>
                    <div class="form-group">
                        <label for="stats">Stats:</label>
                    </div>
                    <div class="form-group">
                        <label for="hp">HP:</label>
                        <input type="text" name="hp" placeholder="Enter HP">
                    </div>
                    <div class="form-group">
                        <label for="attack">Attack:</label>
                        <input type="text" name="attack" placeholder="Enter Attack">
                    </div>
                    <div class="form-group">
                        <label for="defense">Defense:</label>
                        <input type="text" name="defense" placeholder="Enter Defense">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Pokemon">
                </form>
                <form action="/pokemon">
                    <input type="submit" class="btn btn-primary cancel-button" value="Cancel">
                </form>
            </div>
        </div>







        <!-- <h1>Create Your Pokemon</h1>
        <div class="new-page">
            <form action="/pokemon" method="post">
                Name: <input type="text" name="name"><br />
                ImageURL: <input type="text" name="image"><br />
                Type: <input type="text" name="type">
                <i>Enter multiple types separated by ","</i><br />
                Stats:
                <div>
                    HP: <input type="text" name="hp"><br />
                    Attack: <input type="text" name="attack"><br />
                    Defense: <input type="text" name="defense"><br />
                </div>

                <div>
                    <input type="submit" value="Add Pokemon">
                </div>
            </form>
        </div> -->
    </body>

</html>