.navbar {
    background-color: rgb(214, 235, 183);
}

.title-header {
    font-size: 50px;
    font-family: 'Supermercado One', cursive;

}

.add-pokemon {
    float:right;
    font-size: 40px;
    font-family: 'Supermercado One', cursive;
}


.card-img-top {
    border-radius: 8px;
    
}

.index-card-img {
    height:300px;
}

.pokemon-card-title {
    background-color:rgb(130, 187, 190);
    border-radius: 6px;
    font-size: 30px;
    color: rgb(44, 41, 41);
    font-family: 'Supermercado One', cursive;
}

.index-card {
    margin-top: 30px;
    padding: 20px;
    width:250px;
    height:550px;
}




.edit-delete {
    background-color: rgb(130, 187, 190);
    border-radius: 6px;
    font-size: 20px;
    font-family: 'Supermercado One', cursive;
}

.show-page {
    background-color: black;
}

.card-show-page {
    /* display: flex; */
    /* align-items: left; */
    width:500px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.show-content {
    justify-content: center;
    text-align: center;
}

.card-body-show {
    /* margin-left: 80px; */
    /* color: white; */
    font-family: 'Supermercado One', cursive;
}

.show-page-title {
    color: red;
    font-family: 'Supermercado One', cursive;
    font-size: 80px;
}

.show-page-edit {
    margin-top: 30px;
    font-family: 'Supermercado One', cursive;
}

.show-page-backto-index {
    margin-top: 20px;
    color: red;
    text-align: center;
}

.show-page-backto-index-link {
    color: red;
    font-family: 'Supermercado One', cursive;
}